:root {
  /* Tus Colores Personalizados */
  --color-negro-carbon: #0e0e11;
  --color-gris-antracita: #1c1e22;
  --color-gris-acero: #3a3d42;
  --color-gris-tecnico: #b5b8be;
  --color-verde-criptico: #3aff7a;
  --color-blanco-tecnico: #f2f3f5;

  --surface-hover: #25282e;
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;

  /* Tus Fuentes */
  --font-inter: "Inter", sans-serif;
  --font-source: "Source Sans 3", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-ejemplo: "Ejemplo", sans-serif;
}

/* .bg-background-dark {
  background-color: var(--color-negro-carbon);
}
.bg-background {
  background-color: var(--color-gris-antracita);
}
.text-primary {
  color: var(--color-blanco-tecnico);
}
.font-body {
  font-family: var(--font-source);
}
.border-border-dark {
}
.bg-surface-dark {
  background-color: var(--color-gris-antracita);
}
 */
.item-menu.active {
  /* .text-primary */
  --tw-text-opacity: 1;
  color: rgb(58 255 122 / var(--tw-text-opacity, 1));
  /* .border-primary */
  --tw-border-opacity: 1;
  border-color: rgb(58 255 122 / var(--tw-border-opacity, 1));
  /*.border-1-2*/
  border-left-width: 2px;
  /*.bg-primary\/10 */
  background-color: rgb(58 255 122 / 0.1);
}
